*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0;
}

body{
    width: 100%;
    height: 100%;
}
.MainContainer {
    display: grid;
    grid-template-rows: 5rem 35rem;
   /* width: 80%; */
   /* margin:15px auto; */
   /* border: 5px solid palevioletred; */
  }

  nav{
    
    display: flex;
    background-color: lightgreen;
  }

  nav h2{
    margin-top: 1.5rem;
  }
  .right h3{
    margin-top: 48px;
    margin-left: -75px;

  }

  .user {
    width: 50px;
    height: 50px;
    margin-top: -3px;
    margin-left: 880px;
  }
  .Content{
    /* border: 5px solid red; */
    display: grid; 
    grid-template-columns:17rem 50rem 17rem;
     /* justify-content: space-around;  */
    /* align-items: stretch; */
    background-color: lightblue;
  }

  .Left, .Center, .Right{
    font-size:1.3rem;
    /* font-weight: 550; */
    padding: 10px;
  }

  .images{
    display: flex;
    justify-content: space-between;
  }
  .righticon{
    float: right;
    /* margin-left: 50%; */
  }
  .righticon h3{
    margin-left: 80%;
  }
  
  h5{
   /* text-align: center; */
   margin-top: 1.5rem;
   padding: 10px;
  }

  p{
    padding: 15px;
  }


  .Center_images{
    display: flex;
    background-color: cadetblue;
    border-radius: 40px;
    margin-bottom: 30px;
}

.Center_images img{
  border-radius: 10px;
}
  
  .Center_images >p{
   font-size:medium;
   font-weight: 600;
  }

  .icon img{
    width: 150px;
    height: 150px;
    margin:50px;
  }

  img{
    border-radius: 15px;
    /* padding-bottom: 15px; */
    /* padding: 10px; */
  }


  nav img{
   
    width: 80px;
    height: 80px;
    margin-top: -5px;
  }

  .user{
    width: 50px;
    height: 50px;
    margin-top: 10px;
  }